<div class="jumbotron">
    <h1>NetBotsClient</h1>
    <p class="lead">A Starter Kit For Netbots</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This Solution has everything you need to get started buliding your very own Netbot. 
            See the main project <a href="https://github.com/Pabreetzio/BotWars">here</a> for full details.</p>
        
        <p>A really dumb sample bot ("Berserker Bot!") is included. </p>
        
        <p>If you plan to create your Netbot via a DLL, you can safely remove the NetBots.Host project.</p>
    </div>
</div>
