<div class="jumbotron">
    <h1>NetBotsStarterKit</h1>
    <p class="lead">A Starter Kit For Netbots!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This Solution has everything you need to get started buliding your very own Netbot. 
            See the main project <a href="https://github.com/Pabreetzio/BotWars">here</a> for full details.</p>
        
        <p>Two really dumb sample bots (RandomBot and BerserkerBot") are included as a reference. These two bots are accessible
            at http://rooturl.com/berserkerbot and http://rooturl.com/randombot. Any bots you create will be available at
            http://rooturl.com/YourBotClassName automatically so long as it implements the IRobot interface.</p>
        
        <p>If you need help hosting your project just ask! We'll be happy to help you.</p>
    </div>
</div>
